attr==0.3.1
attrs==21.2.0
Django==3.2.5
django_filter==2.4.0
ipython==8.4.0
matplotlib==3.5.1
numpy==1.23.0rc2
object_detection==0.0.3
opencv_python_headless==4.5.5.64
Pillow==9.2.0
pygame==2.1.2
tensorflow==2.9.1
tensorflow_object_detection_api==0.1.1
tf_nightly==2.10.0.dev20220524
